@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<main class="main users chart-page" id="skip-target">
    <div class="container">
        <h2 class="main-title">Trang Chủ</h2>
        <div class="row stat-cards">
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon primary">
                        <i class='bx bx-layer bx-sm bx-tada bx-rotate-90'></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">5</p>
                        <p class="stat-cards-info__title">Đơn hàng mới</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                                <i class="fas fa-chart-line"></i> 4%
                            </span>
                            Ngày trước
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon warning">
                        <i class='bx bx-layer-plus bx-sm  bx-tada'></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">15</p>
                        <p class="stat-cards-info__title">Đơn hàng trong tháng</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit danger">
                                <i class="fas fa-chart-line-down"></i> 0.5%
                            </span>
                            Tháng trước
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon purple">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">10</p>
                        <p class="stat-cards-info__title">Thành viên mới</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                                <i class="fas fa-chart-line"></i> 5.00%
                            </span>
                            Tháng trước
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon success">
                        <i class="fas fa-archive"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">2</p>
                        <p class="stat-cards-info__title">Sinh nhật của khách</p>
                        <p class="stat-cards-info__progress">
                            @*<span class="stat-cards-info__profit warning">
                                <i class="fas fa-chart-line"></i> 0.00%
                            </span>
                            Tháng trước*@
                            <a class="btn-light" href="#">>> Gửi Voucher <<</a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                            <tr class="users-table-info">
                                <th>
                                    <label class="users-table__checkbox ms-20">
                                        <input type="checkbox" class="check-all">Đơn gần nhất
                                    </label>
                                </th>
                                <th>Nội dung</th>
                                <th>Khách hàng</th>
                                <th>Trang thái</th>
                                <th>Ngày</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-2">
                                    <label class="users-table__checkbox">
                                        <input type="checkbox" class="check">
                                        <div class="categories-table-img">
                                            @*<picture>
                                                <source srcset="~/images/categories/01.webp" type="image/webp">
                                                <img src="~/images/categories/01.jpg"
                                                     alt="category">
                                            </picture>*@
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    Starting your traveling blog with Vasco
                                </td>
                                <td>
                                    <div class="pages-table-img">
                                        <picture>
                                            <source srcset="~/images/avatar/avatar-face-04.webp" type="image/webp">
                                            <img src="~/images/avatar/avatar-face-04.png" alt="User Name">
                                        </picture>
                                        Jenny Wilson
                                    </div>
                                </td>
                                <td><span class="badge-pending">Pending</span></td>
                                <td>17.04.2021</td>
                                <td>
                                    <span class="p-relative">
                                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                            <div class="sr-only">More info</div>
                                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                                        </button>
                                        <ul class="users-item-dropdown dropdown">
                                            <li><a asp-controller="Orders" asp-action="Index">Xem danh sách</a></li>
                                            <li><a href="##">Chỉnh sửa</a></li>
                                        </ul>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <article class="white-block">
                    <div class="top-cat-title">
                        <h3>Top ưa chuộng</h3>
                        <p>Hãng được ưa chuộng nhất</p>
                    </div>
                    <ul class="top-cat-list">
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Nike <span>110 đơn</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Trung bình hàng tháng<span class="purple">+23</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Adidas <span>101 đơn</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Trung bình hàng tháng <span class="blue">+22</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Converse <span>30 đơn</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Trung bình hàng tháng <span class="danger">+10</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Vans <span>89 đơn</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Trung bình hàng tháng <span class="success">+17</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    MLB <span>56 đơn</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Trung bình hàng tháng <span class="warning">+16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Fila <span>50 Đơn</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Trung bình hàng tháng <span class="warning">+14</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Puma <span>51 đơn</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Trung bình hàng tháng <span class="warning">+14</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</main>