@model IEnumerable<Sneaker_DATN.Models.Products>

@{
    ViewData["Title"] = "Chart";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="color-dashboard">
    <h2 class="main-title text-center pt-4">CHI TIẾT THỐNG KÊ</h2>
    <div class="col-lg-12 m-auto px-5 pb-4">
        <div class="card shadow-sm">
            <div class="card-body justify-content-around">
                <div class="row col-lg-12">
                    <div class="input-group col-lg-8 col-sm-6">
                        <div class="form-outline d-flex">
                            @*<input type="search" class="input-group col-lg-8" placeholder="Tìm kiếm..." />
                            <button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>*@
                            <div class="ml-3">
                                <select id="select">
                                    <option value="0" selected>Chọn năm...</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                </select>
                            </div>
                            <button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                    </div>
                    @*<div class="col-lg-4 col-sm-6">
                        <a asp-action="Create" class="color-btn-create btn btn-primary float-right"><i class="fas fa-plus pr-2"></i>Thêm mới</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="users-table table-wrapper">
            <div>
                <canvas id="chartProduct"></canvas>
            </div>
        </div>
        <div class="users-table table-wrapper">
            <div>
                <canvas id="chartPrice"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('chartProduct');
        var barChartData = {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            datasets: [
                {
                    label: 'Sản phẩm',
                    backgroundColor: "#0b9663",
                    borderWidth: 1,
                    data: [15, 20, 18, 21, 13, 20, 17, 12, 16, 19, 14, 20]
                },
                {
                    label: 'Khách hàng',
                    backgroundColor: "#CC975E",
                    borderWidth: 1,
                    data: [3, 7, 3, 2, 6, 10, 9, 11, 4, 6, 7, 5]
                }
            ]
        };
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
        });

        var ctx1 = document.getElementById('chartPrice');
        var barChartData1 = {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            datasets: [
                {
                    label: 'Tổng tiền',
                    backgroundColor: "#D9880F",
                    borderWidth: 1,
                    data: [15000000, 20000000, 18000000, 21000000, 13000000, 20000000, 17000000, 12000000, 16000000, 19000000, 14000000, 20000000]
                }
            ]
        };
        var myBarChart1 = new Chart(ctx1, {
            type: 'bar',
            data: barChartData1,
        });
    </script>
    
}
