@model Sneaker_DATN.Models.Colors

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="container">
    <div class="col-lg-12">
        <div class="custom-detail pt-5">
            <div class="">
                <a class="dashbroad-icon-hover  d-flex" asp-action="Index"><i class="icon-back fas fa-chevron-left fa-2x"></i></a>
                <h4 class="main-title text-center text-danger text-uppercase mt-2">Xóa màu sắc</h4>
            </div>
            <dl class="shadow-lg">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Color)
                </dd>
            </dl>
            <div class="text-center">
                <p class="font-italic mb-2 del-notification">Bạn chắc chắn muốn xóa màu sắc?</p>
                <input type="submit" value="Xóa" class="col-lg-3 btn btn-danger font-weight-bold" />
            </div>
            @*<form asp-action="Delete">
            <input type="hidden" asp-for="ColorID" />
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>*@
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

