@model Sneaker_DATN.Models.Orders

@{
    ViewData["Title"] = "Edit";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body pb-5">
        <h2 class="main-title text-center text-uppercase mt-n3">Chỉnh sửa hóa đơn</h2>
        <form class="form-edit" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <div class="form-group" style="display:none">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" readonly />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="DateCreate" class="control-label"></label>
                <input asp-for="DateCreate" class="form-control" readonly />
                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" readonly />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control form-modal-input" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control-select">
                    <option value="Đang xử lý">Đang xử lý</option>
                    <option value="Đang đóng gói">Đang đóng gói</option>
                    <option value="Đang giao">Đang giao</option>
                    <option value="Đã nhận">Đã nhận</option>
                    <option value="Đã hủy">Đã hủy</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="text-center">
                <input type="submit" value="Lưu" class="mt-2 col-lg-6 btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
