@{
    ViewData["Title"] = "Bot Chat";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

Tài khoản: d.achsneaker@gmail.com
Mật khẩu: <h2>Dachsneaker2021@aa</h2>
<a href="https://bot.fpt.ai/">Bot Chat</a>