@{
    ViewData["Title"] = "Bot Chat";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="container">
    <div class="col-lg-12 bot-chat-flex">
        <div class="col-lg-6 col-md-12 col-sm-12 bot-chat shadow-lg">
            <div class="bot-title">
                <span>
                    Tài khoản:
                </span>
                <p>
                    d.achsneaker@gmail.com
                </p>
            </div>
            <div class="bot-subtitle">
                <span>
                    Mật khẩu:
                </span>
                <p>
                    Dachsneaker2021ⓐ
                </p>
            </div>
            <button class="bot-btn">
                <a href="https://bot.fpt.ai/">Bot Chat</a>
            </button>
        </div>
        <div class="bot-chat-svg col-lg-6 col-md-12 col-sm-12">
            <img src="~/images/svg/chat-bot.svg" alt="Alternate Text" />
        </div>
    </div>
</div>


