@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4" data-aos="fade-up">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/images/blog/blog7.jpg" alt="">
                    <a href="img/blog/blog7.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Puma</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" data-aos="fade-up">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/images/blog/blog8.jpg" alt="">
                    <a href="img/blog/blog8.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Nike</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" data-aos="fade-up">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/images/blog/blog9.jpg" alt="">
                    <a href="img/blog/blog9.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Adidas</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->
<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog_left_sidebar">
                    <!-- article img left -->
                    <article class="row blog_item"  data-aos="fade-up">
                        <div class="col-md-12">
                            <div class="blog_post">
                                <div class="col-lg-6 blog_post-img">
                                    <img src="~/images/blog/blog1.jpg" alt="">
                                </div>
                                <div class="col-lg-6 blog_details">
                                    <a href="single-blog.html">
                                        <h2>
                                            Nike Air Jordan 1 đôi giày không thể thiếu trong bộ sưu tập mỗi tín đồ
                                            Sneaker
                                        </h2>
                                    </a>
                                    <p>
                                        Nike Air Jordan 1 được ra mắt năm 1985 là đôi giày ra đời sau Nike Air Jordan
                                        đầu tiên – Nike Air Ship được sản xuất cho Michael Jordan do Peter C. Moore
                                        thiết kế. Những phối màu đầu tiên của Giày Nike Air Jordan 1 là " Chicago "
                                        và " Black Toe "
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- article img right -->
                    <article class="row blog_item"  data-aos="fade-up">
                        <div class="col-md-12">
                            <div class="blog_post">
                                <div class="col-lg-6 blog_details">
                                    <a href="single-blog.html">
                                        <h2>
                                            Nike Air Max 270 – Từ ý tưởng của quá khứ nâng thành tầm nhìn tương lai
                                        </h2>
                                    </a>
                                    <p>
                                        Nike Air Max 270 sẽ ra mắt với các tín đồ Air Max Việt Nam và bắt đầu bán với
                                        số lượng giới hạn gồm 4 phối màu tại các cửa hàng bán lẻ của Nike Việt Nam
                                        vào đầu tháng Tư năm 2018 này.
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                                <div class="col-lg-6 blog_post-img">
                                    <img src="~/images/blog/blog2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- article img left --> 
                    <article class="row blog_item"  data-aos="fade-up">
                        <div class="col-md-12">
                            <div class="blog_post">
                                <div class="col-lg-6 blog_post-img">
                                    <img src="~/images/blog/blog3.jpg" alt="">
                                </div>
                                <div class="col-lg-6 blog_details">
                                    <a href="single-blog.html">
                                        <h2>
                                            Travis Scott x Air Jordan 6 British Khaki – Phối màu Khaki trên nền da
                                            Suede
                                        </h2>
                                    </a>
                                    <p>
                                        Travis Scott x Air Jordan 6 British Khaki. Phối màu Tên Kaki có nguồn gốc từ
                                        tiếng Urdu, có nghĩa là bụi hay màu đất. Vải kaki ra đời từ giữa thế kỉ 19
                                        tại Ấn Độ. “Thực chất tên khaki là tên một
                                        màu trong tiếng anh, đó là màu nâu nhạt pha với màu vàng nhạt”.
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- article img right -->
                    <article class="row blog_item"  data-aos="fade-up">
                        <div class="col-md-12">
                            <div class="blog_post">
                                <div class="col-lg-6 blog_details">
                                    <a href="single-blog.html">
                                        <h2>
                                            Hàng loạt các phối màu của adidas Stan Smith được tung ra dành cho tín
                                            đồ mê sneakers
                                        </h2>
                                    </a>
                                    <p>
                                        adidas Stan Smith đã không còn xa lạ với bất cứ ai yêu mến sneakers trên toàn
                                        cầu nói chung và tại Việt Nam nói riêng. Một thiết kế giản đơn sử dụng chất
                                        liệu da màu trắng & gót xanh lá cây lấy ý tưởng từ quả bóng tennis ra mắt
                                        vào năm 1963.
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                                <div class="col-lg-6 blog_post-img">
                                    <img src="~/images/blog/blog4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- article img left -->
                    <article class="row blog_item"  data-aos="fade-up">
                        <div class="col-md-12">
                            <div class="blog_post">
                                <div class="col-lg-6 blog_post-img">
                                    <img src="~/images/blog/blog5.jpg" alt="">
                                </div>
                                <div class="col-lg-6 blog_details">
                                    <a href="single-blog.html">
                                        <h2>
                                            Casablanca x New Balance 237 – Bản tình ca sắc màu chinh phục mọi trái
                                            tim yêu sắc màu nghệ thuật & tình yêu
                                        </h2>
                                    </a>
                                    <p>
                                        CASABLANCA x NEW BALANCE 237 cũng vậy, nó mang một màu sắc tuyệt vời làm xao
                                        xuyến trái tim bất cứ ai nhìn thấy lần đầu tiên. Phối màu cảm hứng từ chính
                                        họa tiết của Casablanca của Marocco và những cánh cửa sắc màu đi kèm họa
                                        tiết đây ấn tượng của Marocco đã tạo cảm hứng cho phối màu của collab lần
                                        này.
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- article img right -->
                    <article class="row blog_item"  data-aos="fade-up">
                        <div class="col-md-12">
                            <div class="blog_post">
                                <div class="col-lg-6 blog_details">
                                    <a href="single-blog.html">
                                        <h2>
                                            Adidas Yeezy 700 V3 “Kyanite” – Cảm hứng phối màu từ một loại đá rất đẹp
                                        </h2>
                                    </a>
                                    <p>
                                        Adidas Yeezy 700 V3 “Kyanite” xứng đáng được chờ đợi sắp tới vào ngày
                                        27/03/2021 bởi ngoài thiết kế rất tốt giữa Kanye West và adidas thì nó còn
                                        là một “viên ngọc quý” bởi cảm hứng sắc màu của đôi sneakers này.
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                                <div class="col-lg-6 blog_post-img">
                                    <img src="~/images/blog/blog6.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link page-link-arrow" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item active"><a href="#" class="page-link">01</a></li>
                            <li class="page-item"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link page-link-arrow" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->