@model Sneaker_DATN.Models.Users
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<div class="container modal-content ">
    <div class="modal-body">
        <section class="login_box_area">
            <div class="row">
                <div class="col-lg-7">
                    <div class="login_box_img">
                        <img class="img-fluid w-75" src="~/images/login.gif" alt="">
                        <div class="hover">
                            <!-- <h4>New to our website?</h4>
                            <p>There are advances being made in science and technology everyday, and a good example of
                                this is the</p>
                            <a class="primary-btn" href="registration.html">Create an Account</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="login_form_inner">
                        <button type="button" class="close close-login" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3>Đổi mật khẩu</h3>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <form asp-action="ChangePass" class="row login_form" method="post" id="contactForm"
                              novalidate="novalidate">
                            <div class="col-md-12 form-group">
                                <input type="text" asp-for="UserName" id="username" class="form-control" readonly>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" asp-for="ConfirmPassword" id="confirmpassword" class="form-control"
                                       placeholder="Mật khẩu cũ">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" asp-for="Password" id="password" class="form-control"
                                       placeholder="Mật khẩu mới">
                            </div>

                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn btnLogin">Đổi mật khẩu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
