@{
    ViewData["Title"] = "Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hoàn thành đơn hàng</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!--================Checkout Area =================-->
<div class="colorlib-product pb-5">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Giỏ hàng</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>02</span></p>
                        <h3>Thanh Toán</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>03</span></p>
                        <h3>Không thành công</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row order-complete">
            <div class="col-sm-10 offset-sm-1 text-center">
                <p class="icon-addcart"><img src="~/images/svg/OrderError.svg" alt=""></p>
                <h2 class="mb-4">Thanh toán không thành công, quay lại để tiếp tục thanh toán</h2>
                <p>
                    <a asp-controller="Home" asp-action="Checkout" class="primary-btn">Tiếp tục thanh toán</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--================End Checkout Area =================-->