 

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="swiper mySwiper2 shadow-lg">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./img/product-details/1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/product-details/1.1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/product-details/1.2.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-button"></div>
                    <div class="swiper-button-prev swiper-button"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper2 swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./img/product-details/1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/product-details/1.1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/product-details/1.2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>Nike Air Max 1 – Watermelon</h3>
                    <h2>3.200.000₫</h2>
                    <p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for something that can make your interior look awesome, and at the same time give you the pleasant warm feeling during the winter.</p>
                    <div class="size-wrap">
                        <div class="block-26 slt-detail-product mb-5">
                            <h4>Size</h4>
                            <select class="nice-select">
                                <option value="">Chọn size:</option>
                                <option value="40" class="attached enabled">40</option>
                                <option value="41" class="attached enabled">41</option>
                                <option value="42" class="attached enabled">42</option>
                                <option value="43" class="attached enabled">43</option>
                                <option value="44" class="attached enabled">44</option>
                            </select>
                        </div>

                        <div class="block-26-color mb-4">
                            <h4>Màu sắc</h4>
                            <ul class="">
                                <li><input class="color-checkbox colors1" type="radio" name="color"></li>
                                <li><input class="color-checkbox colors2" type="radio" name="color"></li>
                                <li><input class="color-checkbox colors3" type="radio" name="color"></li>
                                <li><input class="color-checkbox colors4" type="radio" name="color"></li>
                            </ul>
                        </div>
                        <!-- <div class="product_count">
                            <label for="qty">Số lượng:</label>
                            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                class="input-text qty">
                            <button class="increase items-count" type="button"><i
                                    class="lnr lnr-chevron-up"></i></button>
                            <button class="reduced items-count" type="button"><i
                                    class="lnr lnr-chevron-down"></i></button>
                        </div> -->
                        <div class="card_area align-items-center">
                            <a class="primary-btn" href="#">Thêm vào giỏ hàng</a>
                            <button class="icon_btn"><i class='bx bxs-heart bx-lg'></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô tả</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Bình Luận</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Đánh Giá</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of all shapes and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in Reading at
                    the age of 15, where she went to secretarial school and then into an insurance office. After moving to London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. He was an officer in the Merchant
                    Navy and after he left the sea in 1956, they bought a pub for a year before John took a job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours, and when showing him how to use it, she
                    decided that she herself quite enjoyed painting. John subsequently bought her a child’s painting set for her birthday and it was with this that she produced her first significant work, a half-length portrait of a dark-skinned lady
                    with a vacant expression and large drooping breasts. It was aptly named ‘Hangover’ by Beryl’s husband and
                </p>
                <p>
                    It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing more and more recipe books and Internet websites that are dedicated to the act of cooking for one. Divorce and the death of
                    spouses or grown children leaving for college are all reasons that someone accustomed to cooking for more than one would suddenly need to learn how to adjust all the cooking practices utilized before into a streamlined plan of
                    cooking that is more efficient for one person creating less
                </p>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                            <div class="review_item reply">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Post a comment</h4>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="btn primary-btn">
                                        Submit
                                        Now
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>4.0</h4>
                                    <h6>(03 Reviews)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Based on 3 Reviews</h3>
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Add a Review</h4>
                            <p>Your Rating:</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <p>Outstanding</p>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Các sản phẩm tương tự</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <img class="img-fluid shadow-lg" src="img/product/p1.jpg" alt="">
                    <div class="product-details">
                        <h6>Nike Air Force 1 Shadow</h6>
                        <div class="price">
                            <h6>3.500.000₫</h6>
                            <!-- <h6 class="l-through">$210.00</h6> -->
                        </div>
                        <div class="prd-bottom">
                            <a href="" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Giỏ hàng</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <!-- <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a> -->
                            <a href="" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <img class="img-fluid shadow-lg" src="img/product/p2.jpg" alt="">
                    <div class="product-details">
                        <h6>Nike Dunk High</h6>
                        <div class="price">
                            <h6>3.500.000₫</h6>
                            <h6 class="l-through">4.000.000₫</h6>
                        </div>
                        <div class="prd-bottom">
                            <a href="" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Giỏ hàng</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <!-- <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a> -->
                            <a href="" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <img class="img-fluid shadow-lg" src="img/product/p3.jpg" alt="">
                    <div class="product-details">
                        <h6>Nike Air Force 1 Sage</h6>
                        <div class="price">
                            <h6>3.500.000₫</h6>
                            <!-- <h6 class="l-through">2.150.000₫</h6> -->
                        </div>
                        <div class="prd-bottom">
                            <a href="" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Giỏ hàng</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <!-- <a href="" class="social-info">
                                    <span class="lnr lnr-sync"></span>
                                    <p class="hover-text">compare</p>
                                </a> -->
                            <a href="" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <img class="img-fluid shadow-lg" src="img/product/p4.jpg" alt="">
                    <div class="product-details">
                        <h6>Vans Comfort Old Skool Mule</h6>
                        <div class="price">
                            <h6>1.700.000₫</h6>
                            <h6 class="l-through">2.150.000₫</h6>
                        </div>
                        <div class="prd-bottom">
                            <a href="" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Giỏ hàng</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <!-- <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a> -->
                            <a href="" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <img class="img-fluid shadow-lg" src="img/product/p5.jpg" alt="">
                    <div class="product-details">
                        <h6>Adidas Stan Smith</h6>
                        <div class="price">
                            <h6>$2.500.000₫</h6>
                            <!-- <h6 class="l-through">$210.00</h6> -->
                        </div>
                        <div class="prd-bottom">
                            <a href="" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Giỏ hàng</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <!-- <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a> -->
                            <a href="" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <img class="img-fluid shadow-lg" src="img/product/p6.jpg" alt="">
                    <div class="product-details">
                        <h6>MLB Mule NY Monogram </h6>
                        <div class="price">
                            <h6>1.750.000₫</h6>
                            <!-- <h6 class="l-through">$210.00</h6> -->
                        </div>
                        <div class="prd-bottom">
                            <a href="" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Giỏ hàng</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <!-- <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a> -->
                            <a href="" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <img class="img-fluid shadow-lg" src="img/product/p7.jpg" alt="">
                    <div class="product-details">
                        <h6>Puma Mule Ribbon</h6>
                        <div class="price">
                            <h6>1.400.000₫</h6>
                            <h6 class="l-through">1.650.000₫</h6>
                        </div>
                        <div class="prd-bottom">
                            <a href="" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Giỏ hàng</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <!-- <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a> -->
                            <a href="" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single product -->
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <img class="img-fluid shadow-lg" src="img/product/p8.jpg" alt="">
                    <div class="product-details">
                        <h6>Nike Air Force 1 LXX</h6>
                        <div class="price">
                            <h6>4.000.000₫</h6>
                            <h6 class="l-through">4.500.000₫</h6>
                        </div>
                        <div class="prd-bottom">
                            <a href="" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Giỏ hàng</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <!-- <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a> -->
                            <a href="" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- End related-product Area -->