@model IEnumerable<Sneaker_DATN.Models.Products>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen ">
            <div class="col-lg-12">
                <!-- hero section -->
                <div class="hero">
                    <div class="slider">
                        <div class="">
                            <!-- slide item -->
                            <div class="slide active col-lg-12">
                                <div class="info col-lg-6">
                                    <div class="info-content">
                                        <p class="top-down">
                                            New in
                                        </p>
                                        <h2 class="top-down trans-delay-0-2">
                                            Nike AirMax 1
                                        </h2>
                                        <p class="top-down trans-delay-0-4">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolor commodi dignissimos culpa, eaque eos necessitatibus possimus veniam, cupiditate rerum deleniti? Libero, ducimus error? Beatae velit dolore sint explicabo! Fugit.
                                        </p>
                                        <div class="top-down trans-delay-0-6 d-flex align-items-center">
                                            <a href="#" class="btn-icon"> <i class='bx bx-plus bx-sm'></i></a>
                                            <span class="btn-flat btn-hover">
                                                Thêm vào giỏ hàng
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="img top-down col-lg-6">
                                    <div class="img-shape"></div>
                                    <img src="~/images/banner/banner-img.png" alt="">
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- slide item -->
                            <div class="slide col-lg-12">
                                <div class="info col-lg-6">
                                    <div class="info-content">
                                        <p class="top-down">
                                            New in
                                        </p>
                                        <h2 class="top-down trans-delay-0-2">
                                            Ipsum dolor
                                        </h2>
                                        <p class="top-down trans-delay-0-4">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A optio, voluptatum aperiam nobis quis maxime corporis porro alias soluta sunt quae consectetur aliquid blanditiis perspiciatis labore cumque, ullam, quam eligendi!
                                        </p>
                                        <div class="top-down trans-delay-0-6 d-flex align-items-center">
                                            <a href="#" class="btn-icon"> <i class='bx bx-plus bx-sm'></i></a>
                                            <span class="btn-flat btn-hover">
                                                Thêm vào giỏ hàng
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="img right-left col-lg-6">
                                    <div class="img-shape"></div>
                                    <img src="~/images/banner/banner-img.png" alt="">
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- slide item -->
                            <div class="slide col-lg-12">
                                <div class="info col-lg-6">
                                    <div class="info-content">
                                        <h3 class="top-down">
                                            JBL JR 310BT
                                        </h3>
                                        <h2 class="top-down trans-delay-0-2">
                                            Consectetur Elit
                                        </h2>
                                        <p class="top-down trans-delay-0-4">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo aut fugiat, libero magnam nemo inventore in tempora beatae officiis temporibus odit deserunt molestiae amet quam, asperiores, iure recusandae nulla labore!
                                        </p>
                                        <div class="top-down trans-delay-0-6 d-flex align-items-center">
                                            <a href="#" class="btn-icon"> <i class='bx bx-plus bx-sm'></i></a>
                                            <span class="btn-flat btn-hover">
                                                Thêm vào giỏ hàng
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="img left-right col-lg-6">
                                    <div class="img-shape"></div>
                                    <img src="~/images/banner/banner-img.png" alt="">
                                </div>
                            </div>
                            <!-- end slide item -->
                        </div>
                        <!-- slider controller -->
                        <button class="slide-controll slide-next">
                            <i class='bx bxs-chevron-right'></i>
                        </button>
                        <button class="slide-controll slide-prev">
                            <i class='bx bxs-chevron-left'></i>
                        </button>
                        <!-- end slider controller -->
                    </div>
                </div>
                <!-- end hero section -->

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start category Area -->
<section class="category-area mt-5" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/c1.jpg" alt="">
                            <a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Adidas</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/c2.jpg" alt="">
                            <a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sneaker for Sports</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/c3.jpg" alt="">
                            <a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Product for Couple</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/c4.jpg" alt="">
                            <a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Nike</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 media-small" data-aos="fade-up">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/images/category/c5.jpg" alt="">
                    <a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Sneaker for Sports</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->
<!-- start product Area -->
@* class : owl-carousel*@
<section class="active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm</h1>
                        <p>Các sản phẩm bán chạy.</p>
                    </div>
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                @foreach (var item in Model)
                {

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-product">
                            <img class="img-fluid" src="~/images/Product/@item.Image" alt="">
                            @*sale*@
                            @if (item.Price >= 3000000)
                            {
                                <div class="badge-overlay">
                                    <span class="badge">Sale 0%</span>
                                </div>
                            }
                            <div class="product-details">
                                <h6>@Html.DisplayFor(modelItem => item.ProductName)</h6>
                                <div class="price">
                                    <h6>@Html.DisplayFor(modelItem => item.Price)</h6>
                                    @*discount*@
                                    @if (item.Price >= 3000000)
                                    {
                                        <h6 class="l-through">$@Html.DisplayFor(modelItem => item.Price)</h6>
                                    }

                                </div>
                                <div class="prd-bottom">
                                    <a class="addProduct social-info" href="javascript:addCart(@item.ProductID);">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Giỏ hàng</p>
                                    </a>
                                    <a class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Yêu thích</p>
                                    </a>
                                    <!-- <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a> -->
                                    <a asp-action="Details" asp-route-id="@item.ProductID" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem Thêm</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>
<!-- end product Area -->
<!-- start features Area -->
<section class="features-area section_gap" data-aos="fade-up">
    <div class="container">
        <div class="row features-inner shadow-lg">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/images/features/f-icon1.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/images/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/images/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/images/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area" data-aos="fade-up">
    <div class="container">
        <div class="exclusive-deal-ctn row justify-content-center align-items-center">
            <div class="col-lg-12 no-padding exclusive-left">
                <div class="row">
                    <div class="exclusive-deal-txt col-lg-10">
                        <h1>SALE OFF 50%</h1>
                        <a href="" class="primary-btn">Xem ngay<i class='bx bx-send primary-btn-icon'></i></a>
                    </div>
                    <div class="exclusive-deal-img col-lg-2">
                        <img src="~/images/exclusive.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->
<!-- Start brand Area -->
<section class="brand-area section_gap" data-aos="fade-up">
    <div class="container">
        <div class="row" data-aos="zoom-in-up">
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/1.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/3.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/4.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/5.png" alt="">
            </a>
        </div>
    </div>
</section>
<!-- End brand Area -->

<script>
    function addCart(id) {
        $("#imgCart").attr("src", '/images/bagA.png');
        $("#imgBusy_" + id).show();
        setTimeout(function () {
            $.ajax({
                url: "/Home/AddCart?Id=" + id,
                type: "Post",
                success: function (result) {
                    Swal.fire({
                        position: 'top',
                        icon: 'success',
                        title: 'Thêm vào giỏ thành thành công!',
                        showConfirmButton: false,
                        timer: 1000
                    })
                },
                error: function (e) {
                    Swal.fire({
                        position: 'top',
                        icon: 'error',
                        title: 'Thêm vào giỏ thành thất bại!',
                        showConfirmButton: true,
                        timer: 1000
                    })
                }
            })
            $("#imgBusy_" + id).hide();
        }, 500);
    }
</script>