@model Sneaker_DATN.Models.Users
@using Sneaker_DATN.Constant
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string avatar = Context.Session.GetString(SessionKey.Guest.Guest_Avatar);}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!-- Infomation -->
<section class="infomation-user pb-5">
    <div class="">
        <div class="container">
            <div class="row col-lg-12">
                <div class="col-lg-4 infomation-user-left">
                    <div class="infomation-user-left-img">
                        @if (avatar == null || avatar == "")
                        {
                            <span class="img-info-user">
                                <source srcset="~/images/avatar/avatar-illustrated-02.webp" type="image/webp">
                                <img src="~/images/avatar/avatar-illustrated-02.png" alt="User name">
                                @*<img src="~/images/user.png" style="width:25px" />*@
                            </span>
                        }
                        else
                        {
                            <img alt='' src="~/images/avatar/@Model.ImgUser" />
                        }
                        <span class="">
                            @Html.DisplayFor(model => model.FullName)
                        </span>
                    </div>

                    <ul class="nav flex-column infomation-user-left-nav">
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="InfoMenu">Tài khoản</a>
                            <!-- empty -->
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="Info" class="nav-info-active">Thông tin</a>
                        </li>
                        <li class="nav-link">
                            <a href="">Đơn hàng</a>
                        </li>
                        @*<li class="nav-link">
                                <a href="">Địa chỉ</a>
                            </li>*@
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="ChangePass">Đổi mật khẩu</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-8 infomation-user-right">
                    <div class="infomation-user-info col-lg-12">
                        <form asp-action="Info" enctype="multipart/form-data" method="post" id="contactForm" novalidate="novalidate">
                            <div class="row">
                                <!-- User Name -->
                                <div class="form-group col-lg-6 mb-4">
                                    <label asp-for="UserName" class="control-label"></label>
                                    <input id="UserName" asp-for="UserName" type="text" name="UserName"
                                           readonly class="form-control">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <!-- Full Name -->
                                <div class="form-group col-lg-6 mb-4">
                                    <label asp-for="FullName" class="control-label"></label>
                                    <input id="FullName" asp-for="FullName" type="text" name="FullName"
                                           class="form-control">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <!-- DOB -->
                                <div class="form-group col-lg-6 mb-4">
                                    <label asp-for="DOB" class="control-label"></label>
                                    <input id="DOB" asp-for="DOB" type="date" name="DOB"
                                           class="form-control">
                                    <span asp-validation-for="DOB" class="text-danger"></span>
                                </div>
                                <!-- Email Address -->
                                <div class="form-group col-lg-6 mb-4">
                                    <label asp-for="Email" class="control-label"></label>s
                                    <input id="Email" asp-for="Email" type="email" name="Email"
                                           class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <!-- Gender -->
                                <div class="form-group col-lg-6 mb-4">
                                    <label asp-for="Gender" class="control-label col-lg-12"></label>
                                    <select asp-for="Gender" class="form-select select-custom-home">
                                        <option value="true">Nam</option>
                                        <option value="false">Nữ</option>
                                    </select>
                                </div>
                                <!-- RoleID  -->
                                <div class="form-group col-lg-6 mb-4 d-none">
                                    <label asp-for="RoleID" class="control-label col-lg-12"></label>
                                    <select id="RoleID" asp-for="RoleID" name="RoleID" asp-items="ViewBag.RoleN"
                                            class="form-control-select"></select>
                                </div>
                                <!-- ImageUser -->
                                <div class="form-group col-lg-6 mb-4">
                                    <label asp-for="ImageUser" class="control-label"></label>
                                    <input id="ImageUser" asp-for="ImageUser" type="file" name="ImageUser">
                                </div>
                                <!-- PhoneNumber -->
                                <div class="form-group col-lg-6 mb-4">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input id="PhoneNumber" asp-for="PhoneNumber" type="tel" name="PhoneNumber"
                                           class="form-control">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-lg-6 mb-4">
                                    <label asp-for="DateCreated" class="control-label">Ngày tạo tài khoản</label>
                                    <input id="DateCreated" asp-for="DateCreated" type="date" name="DateCreated"
                                           class="form-control" readonly>
                                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                                </div>
                                <!-- Address -->
                                <div class="form-group col-lg-12 mb-4">
                                    <label asp-for="Address" class="control-label"></label>
                                    <textarea id="Address" asp-for="Address" name="Address"
                                              class="form-control" rows="5"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                @*<div class="form-group" style="display: none">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" type="text" disabled />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" style="display: none">
                                        <label asp-for="ConfirmPassword" class="control-label"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" type="text" disabled />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>*@
                                <!-- Submit Button -->
                                <div class="form-group col-lg-12 text-center mx-auto mb-0">
                                    <button type="submit" class="col-lg-3 infomation-user-info-btn primary-btn">
                                        Đổi thông tin
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>