@model Sneaker_DATN.Models.Users
@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!-- Infomation -->
<section class="infomation-user pb-5">
    <div class="">
        <div class="container">
            <div class="row col-lg-12">
                <div class="col-lg-4 infomation-user-left">
                    <div class="infomation-user-left-img">
                        <img alt='' src='./img/i4.jpg' />
                        <span class="">
                            Huy Lâm
                        </span>
                    </div>

                    <ul class="nav flex-column infomation-user-left-nav">
                        <li class="nav-link">
                            <a href="">Tài khoản</a>
                            <!-- empty -->
                        </li>
                        <li class="nav-link">
                            <a href="">Thông tin</a>
                        </li>
                        <li class="nav-link">
                            <a href="">Đơn hàng</a>
                        </li>
                        <li class="nav-link">
                            <a href="">Địa chỉ</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-8 infomation-user-right">
                    <div class="infomation-user-info col-lg-12">
                        <form action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="row">
                                <!-- Full Name -->
                                <div class="form-group col-lg-6 mb-4">
                                    <input id="FullName" type="text" name="FullName" placeholder="Tên tài khoảng"
                                           class="form-control">
                                </div>
                                <!-- Phone -->
                                <div class="form-group col-lg-6 mb-4">
                                    <input id="phone" type="tel" name="phone" placeholder="Số điện thoại"
                                           class="form-control">
                                </div>
                                <!-- Email Address -->
                                <div class="form-group col-lg-12 mb-4">
                                    <input id="email" type="email" name="email" placeholder="Email Address"
                                           class="form-control">
                                </div>
                                <!-- Password -->
                                <div class="form-group col-lg-6 mb-4">
                                    <input id="password" type="password" name="password" placeholder="Password"
                                           class="form-control">
                                </div>
                                <!-- Password Confirmation -->
                                <div class="form-group col-lg-6 mb-4">
                                    <input id="passwordConfirmation" type="password" name="passwordConfirmation"
                                           placeholder="Confirm Password" class="form-control">
                                </div>
                                <!-- Submit Button -->
                                <div class="form-group col-lg-12 text-center mx-auto mb-0">
                                    <button href="#" class="col-lg-6 infomation-user-info-btn primary-btn">
                                        Đăng
                                        ký
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>