@model Sneaker_DATN.Models.Users
@using Sneaker_DATN.Constant
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string avatar = Context.Session.GetString(SessionKey.Guest.Guest_Avatar);}

<style>
/*    .img-info-user i {
        width: 50px !important;
        height: 50px !important;
    }*/
</style>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!-- Infomation -->
<section class="infomation-user pb-5">
    <div class="">
        <div class="container">
            <div class="row col-lg-12">
                <div class="col-lg-4 infomation-user-left">
                    <div class="infomation-user-left-img">

                        @if (avatar == null || avatar == "")
                        {
                        <span class="img-info-user">
                            <span class='bx bx-user' ></span>
                            @*<img src="~/images/user.png" style="width:25px" />*@
                        </span>
                        }
                        else
                        {
                            <img alt='' src="~/images/avatar/@Model.ImgUser" />
                        }

                        @*<img alt='' src="~/images/avatar/@Model.ImgUser" />*@
                        <span class="">
                            @Html.DisplayFor(model => model.FullName)
                        </span>
                    </div>

                    <ul class="nav flex-column infomation-user-left-nav">
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="InfoMenu" class="nav-info-active">Tài khoản</a>
                            <!-- empty -->
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="Info">Thông tin</a>
                        </li>
                        @*<li class="nav-link">
                            <a href="">Đơn hàng</a>
                        </li>*@
                        @*<li class="nav-link">
                            <a href="">Địa chỉ</a>
                        </li>*@
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="ChangePass">Đổi mật khẩu</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-8 infomation-user-right">
                    <div class="infomation-user-right-txt">
                        <p>
                            Xin chào <strong>@Html.DisplayFor(model => model.FullName)</strong> (không phải tài khoản
                            <strong>@Html.DisplayFor(model => model.FullName)</strong>? Hãy <a href="">
                                thoát
                                ra
                            </a> và đăng nhập vào tài khoản của bạn)
                        </p>
                        <p>
                            Từ trang quản lý tài khoản bạn có thể xem 
                            <a asp-controller="Home" asp-action="Info">
                                thông tin tài khoản
                            </a> và
                            <a asp-controller="Home" asp-action="ChangePass">
                                đổi mật khẩu
                            </a>.
                        </p>
                    </div>
                    <ul class="nav infomation-user-right-nav">
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="InfoMenu">Tài khoản</a>
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="Info">Thông tin</a>
                        </li>
                        @*<li class="nav-link">
                            <a href="">Đơn hàng</a>
                        </li>
                        <li class="nav-link">
                            <a href="">Địa chỉ</a>
                        </li>*@
                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="ChangePass">Đổi mật khẩu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>