@model Sneaker_DATN.Models.ViewModels.ViewWebLogin
@{
    ViewData["Title"] = "Login";
}


<div class="container modal-content ">
    <div class="modal-body">
        <section class="login_box_area">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="login_box_img">
                            <img class="img-fluid" src="~/images/login.gif" alt="">
                            <div class="hover">
                                <!-- <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of
                            this is the</p>
                        <a class="primary-btn" href="registration.html">Create an Account</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="login_form_inner">
                            <button type="button" class="close close-login" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3>Đăng nhập</h3>
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <form asp-action="Login" class="row login_form" method="post" id="contactForm"
                                  novalidate="novalidate">
                                <input type="hidden" asp-for="ReturnUrl" />
                                <div class="col-md-12 form-group">
                                    <input type="text" asp-for="UserName" class="form-control"
                                           placeholder="Tên đăng nhập">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="password" asp-for="Password" class="form-control"
                                           placeholder="Mật khẩu">
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account">
                                        <input type="checkbox" id="f-option2" name="selector">
                                        <label for="f-option2">Ghi nhớ mật khẩu</label>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="primary-btn">Đăng nhập</button>
                                    <!-- Divider Text -->
                                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                        <div class="border-bottom w-100 ml-5"></div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                                        <div class="border-bottom w-100 mr-5"></div>
                                    </div>
                                    <a href="#" class="text-center login_form_fotgot">Quên mật khẩu?</a>
                                    <div class="login_form_register text-center">
                                        Bạn chưa có tài khoảng?
                                        <a href="#" class="">Đăng ký</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>

<script>
    setTimeout(function () {
        $.ajax({
            value: "submit",
            type: "submit",
            success: function (result) {
                Swal.fire({
                    position: 'top',
                    icon: 'success',
                    title: 'Đăng nhập thành công!',
                    showConfirmButton: false,
                    timer: 1000
                })
            },
            error: function (e) {
                Swal.fire({
                    position: 'top',
                    icon: 'error',
                    title: 'Đăng nhập thất bại!',
                    showConfirmButton: true,
                    timer: 1000
                })
            }
        })
    }, 500);
</script>