@model Sneaker_DATN.Models.Products

<div class="container modal-content container-modal-small">
    <div class="modal-body p-5">
        <button type="button" class="close custom-btn-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductID" />
            <p class="font-italic text-center mb-2 mt-3 del-notification">
                Bạn chắc chắn muốn xóa sản phẩm <b>@Model.ProductName</b> ?
            </p>
            <div class="text-center mt-4">
                <input type="submit" value="Xóa" class="col-lg-3 btn btn-danger font-weight-bold" />
            </div>

        </form>
    </div>
</div>

