@model Sneaker_DATN.Models.Products

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="row pt-3 text-muted">
    <h1 class="text-muted ml-2">Chỉnh sửa Sản phẩm</h1>
    <hr />
    <div class="m-auto">
        <div class="col-lg-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductID" />
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image1" class="control-label"></label>
                    <input asp-for="Image1" class="form-control" type="file" />
                    <span asp-validation-for="Image1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image2" class="control-label"></label>
                    <input asp-for="Image2" class="form-control" type="file" />
                    <span asp-validation-for="Image2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BrandID" class="control-label"></label>
                    <select asp-for="BrandID" class="form-control" asp-items="ViewBag.brands"></select>
                    <span asp-validation-for="BrandID" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)

                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Trở về danh sách</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

