@model Sneaker_DATN.Models.Products

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 custom-form mt-4">
        <div class="card flex-row shadow-lg">
            <div class="card-body col-lg-12 col-md-12 col-sm-12">
                <a asp-action="Index" class="dashbroad-icon-hover">
                    <i class="icon-back fas fa-chevron-left fa-2x d-flex"></i>
                </a>
                <h2 class="main-title text-center text-uppercase mt-n3">Chỉnh sửa sản phẩm</h2>
                <form class="form-edit" asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProductID" />
                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <img src="~/images/Product/@Model.Image" style="width:100px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input asp-for="ImageFile" class="form-control" type="file" />
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" type="file" class="form-control" />
                    </div>*@
                    <div class="form-group">
                        <img src="~/images/Product/@Model.Image1" style="width:100px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile1" class="control-label"></label>
                        <input asp-for="ImageFile1" class="form-control" type="file" />
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Image1" class="control-label"></label>
                        <input asp-for="Image1" type="file" class="form-control" />
                    </div>*@
                    <div class="form-group">
                        <img src="~/images/Product/@Model.Image2" style="width:100px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile2" class="control-label"></label>
                        <input asp-for="ImageFile2" class="form-control" type="file" />
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Image2" class="control-label"></label>
                        <input asp-for="Image2" type="file" class="form-control" />
                    </div>*@
                    <div class="form-group">
                        <label asp-for="BrandID" class="control-label"></label>
                        <select asp-for="BrandID" class="form-control-select" asp-items="ViewBag.brands"></select>
                        <span asp-validation-for="BrandID" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)

                        </label>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Save" class="mt-2 col-lg-6 btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

