@using Sneaker_DATN.Models
@using Sneaker_DATN.Constant
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions

@{ string userName = Context.Session.GetString(SessionKey.User.UserName);}
@{ string fullName = Context.Session.GetString(SessionKey.User.FullName);}
@{ string avatar = Context.Session.GetString(SessionKey.User.Avatar);}
@{ int roleid = 0;
    if (Context.Session.GetString(SessionKey.User.RoleID) != null)
    {
        roleid = int.Parse(Context.Session.GetString(SessionKey.User.RoleID));
    }
}

@{
    int userid = 0;
    if (Context.Session.GetInt32(SessionKey.User.User_ID.ToString()) != null)
    {
        userid = (int)Context.Session.GetInt32(SessionKey.User.User_ID.ToString());
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-ACH Admin | @ViewData["Title"]</title>
    <!-- Bootstrap 4 / AngularJS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/fav.png" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/style-admin.css">
    <link rel="stylesheet" href="~/css/style-modal-admin.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .modal-dialog {
            max-width: initial;
        }

        .modal-content {
            border: none;
            background-color: transparent;
        }

        .modal-body {
            border-radius: 18px;
            background-color: #fff;
        }

        .custom-btn-modal {
            border: none;
            font-size: 36px;
            color: #999;
        }

            .custom-btn-modal:hover {
                border: none;
                transform: scale(1.25);
                color: #576ee0;
            }

        .container-modal-small {
            max-width: 700px;
        }

        .custom-header-modal {
            display: flex;
            justify-content: space-between;
        }

        .custom-icon span {
            border: none;
            background-color: transparent;
        }

        .container-modal-medium .form-control,
        .container-modal-large .form-control {
            border: none !important;
            border-radius: 6px !important;
            background: rgb(245, 245, 245) !important;
        }

        .container-modal-large {
            max-width: 1100px;
        }

        .container-modal-medium {
            max-width: 800px;
        }

        /*.container-modal-large */ .form-checkbox-input {
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 18px;
        }

        .modal-content .custom-detail {
            padding: 1rem;
        }
    </style>
</head>

<body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip</a>
    <div class="page-flex">
        <!-- ! Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-start">
                <div class="sidebar-head d-flex justify-content-center">
                    <a asp-controller="Admin" asp-action="Index" class="logo-wrapper" title="Home">
                        <span class="sr-only">Home</span>
                        <img class="icon" src="~/images/avatar/Logoteam.png" />
                        <div class="logo-text">
                            <span class="logo-title">DACH Team</span>
                            <span class="logo-subtitle">Trang Quản Lý</span>
                        </div>
                    </a>
                    <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                        <span class="sr-only">Toggle menu</span>
                        <span class="icon bx bx-menu bx-sm text-light" aria-hidden="true"></span>
                    </button>
                </div>
                <div id="myDIV" class="sidebar-body">
                    <ul class="sidebar-body-menu">
                        <li>
                            <a class="dashboard-menu" asp-controller="Admin" asp-action="Index">
                                <span class="icon bx bx-home-alt bx-sm" aria-hidden="true"></span>Trang Chủ
                            </a>
                        </li>
                        <li>
                            <a class="dashboard-menu" asp-controller="Orders" asp-action="Index">
                                <span class="icon bx bx-shopping-bag bx-sm" aria-hidden="true"></span>Đơn Hàng
                            </a>
                        </li>
                        <li>
                            <a class="dashboard-menu" asp-controller="UserMem" asp-action="Index">
                                <span class="icon bx bx-user bx-sm" aria-hidden="true"></span>Khách Hàng
                            </a>
                        </li>
                        <li>
                            <a class="show-cat-btn" href="#">
                                <span class="icon bx bx-category-alt bx-sm" aria-hidden="true"></span>Sản Phẩm
                                <span class="category__btn transparent-btn" title="Open list">
                                    <span class="icon bx bxs-down-arrow" aria-hidden="true"></span>
                                </span>
                            </a>
                            <ul class="cat-sub-menu">
                                <li>
                                    <a asp-controller="Product" asp-action="Index">Danh Sách</a>
                                </li>
                                <li>
                                    <a asp-controller="Colors" asp-action="Index">Bảng Màu</a>
                                </li>
                                <li>
                                    <a asp-controller="Sizes" asp-action="Index">Bảng Size</a>
                                </li>
                                <li>
                                    <a asp-controller="Brands" asp-action="Index">Thương Hiệu</a>
                                </li>
                            </ul>
                        </li>
                        @if (roleid == 1)
                        {
                            <li>
                                <a class="show-cat-btn1" href="#">
                                    <span class="icon bx bxs-report bx-sm" aria-hidden="true"></span>Thống Kê, Báo Cáo
                                    <span class="category__btn1 transparent-btn" title="Open list">
                                        <span class="icon bx bxs-down-arrow" aria-hidden="true"></span>
                                    </span>
                                </a>
                                <ul class="cat-sub-menu">
                                    <li>
                                        <a asp-controller="Chart" asp-action="Index">Thống Kê (Năm)</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Chart" asp-action="ChartWeek">Thống Kê (Tháng)</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Report" asp-action="Index">Báo Cáo</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li>
                            <a asp-controller="Discount" asp-action="Index">
                                <span class="icon bx bxs-discount bx-sm" aria-hidden="true"></span>Mã giảm giá
                            </a>
                        </li>
                        @if (roleid == 1)
                        {
                            <li>
                                <a asp-controller="User" asp-action="Index">
                                    <span class="icon bx bxs-user-account bx-sm" aria-hidden="true"></span>Quản lý tài khoản
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-controller="User" asp-action="BotChat">
                                <span class="icon bx bxs-bot bx-sm" aria-hidden="true"></span><span class="ml-1">BOT chat</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-footer">
                <a href="##" class="sidebar-user d-flex justify-content-center">
                    <span class="sidebar-user-img mt-2">
                        <picture>
                            @if (avatar == null || avatar == "")
                            {
                                <source srcset="~/images/avatar/avatar-illustrated-02.webp" type="image/webp">
                                <img src="~/images/avatar/avatar-illustrated-02.png" alt="User name">
                            }
                            else
                            {
                                <img src="~/images/avatar/@avatar" alt="User name">
                            }
                        </picture>
                    </span>
                    <div class="sidebar-user-info  mt-3 pb-2">
                        <span class="sidebar-user__title">@fullName</span>
                    </div>
                </a>
            </div>
        </aside>
        <div class="main-wrapper">
            <!-- ! Main nav -->
            <nav class="main-nav--bg">
                <div class="container main-nav">
                    <div class="main-nav-start">
                        <div class="music">
                            <audio id="player" src="~/audio/cuoithoi.mp3"></audio>
                            <div class="player">
                                <div class="control">
                                    <i class="fas fa-play" id="playbtn"></i>
                                </div>
                                <div class="info">
                                    Cưới thôi!
                                    <div class="bar">
                                        <div id="progress"></div>
                                    </div>
                                </div>
                                <i id="current" class="fab fa-napster"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main-nav-end">
                        <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                            <span class="sr-only">Toggle menu</span>
                            <span class="icon bx bx-menu bx-sm text-dark" aria-hidden="true"></span>
                        </button>
                        <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
                            <span class="sr-only">Đổi giao diện</span>
                            <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
                            <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                        </button>
                        <div class="nav-user-wrapper">
                            <button href="##" class="nav-user-btn dropdown-btn" title="Bản Thân" type="button">
                                <span class="sr-only">Bản Thân</span>
                                <span class="nav-user-img">
                                    <picture>
                                        @if (avatar == null || avatar == "")
                                        {
                                            <source srcset="~/images/avatar/avatar-illustrated-02.webp" type="image/webp">
                                            <img src="~/images/avatar/avatar-illustrated-02.png" alt="User name">
                                        }
                                        else
                                        {
                                            <img src="~/images/avatar/@avatar" alt="User name">
                                        }
                                    </picture>
                                </span>
                            </button>
                            <ul class="users-item-dropdown nav-user-dropdown dropdown">
                                <li>
                                    <button class="nav-link btn btn-link">
                                        <a asp-controller="User" asp-action="Info" asp-route-id="@userid" class="text-primary">
                                            <i class='bx bx-info-circle bx-sm pr-2'></i>
                                            Thông Tin
                                        </a>
                                    </button>
                                </li>
                                <partial name="_LogoutPartial" />
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- ! Main -->
            @RenderBody()
        </div>
    </div>
    <!-- Chart library -->
    <script src="~/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/loadAdminModal.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script>
        $("#txtDescription").ckeditor();
        $("#txtDescriptionEdit").ckeditor();
    </script>
</body>

</html>