<li class="nav-item">
    <form asp-area="" asp-controller="Admin" asp-action="Logout" method="post" id="logoutForm">
        <button id="logout" type="submit" class="nav-link btn btn-link text-danger">
            <i data-feather="log-out"></i>Đăng xuất
        </button>
    </form>
</li>