<li class="nav-item">
    <form asp-area="" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm">
        <button id="logout" type="submit" class="nav-link">
            <i data-feather="log-out"></i>Đăng xuất
        </button>
    </form>
</li>