@model Sneaker_DATN.Models.Sizes

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="row pt-3 text-muted">
    <h1 class="text-muted ml-2">Chỉnh sửa</h1>

    <h4 class="ml-4">CỠ SIZE</h4>
    <hr />
    <div class="m-auto">
        <div class="col-lg-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SizeID" />
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Trở về danh sách</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
