.s_product_text .size-wrap .card_area{
    margin-top: 13rem;
}
.s_product_text .size-wrap .product_count input {
    padding: 0.3rem 0 0.3rem 1rem;
    border: 1px solid #e6e6e6;
    color: #777;
    border-radius: 8px;
}

.process-cancel.active p span {
    color: #dc3545 !important;
    border: 2px solid #dc3545 !important;
    border-radius: 50%;
}

.single-product .img-fluid {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;*/
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.load{
    cursor: wait;
}

.infomation-user-left-img .img-info-user span{
    font-size: 200px;
}

.home-logout-nav{
    cursor: pointer;
}


.is-sticky .header_area .main_menu .main_box {
    max-width: 100%;
    margin-top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
}

.is-sticky .header_area #search_input_box {
    max-width: 100%;
}

.sticky-wrapper {
    position: absolute;
    top: 40px;
    width: 100%;
}

@media (max-width: 991px) {
    .sticky-wrapper {
        top: 0;
    }
}
