.btn-share {
    height: 10%;
    width: 10%;
    border: none;
    background: transparent;
}

    .btn-share i {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin-right: 10px;
        border: none;
        background: #fff;
        border-radius: 6px;
        cursor: pointer;
        padding: 6px;
        font-size: 26px;
        color: #999999;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }

        .btn-share i:hover {
            background: #576ee0;
            color: #fff;
        }

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

/*    menu hover*/
.line-effect {
    width: 0;
    height: 2.5px;
    background-color: #576ee0;
    position: fixed;
    pointer-events: none;
    z-index: 99;
    transition: all 0.25s linear;
}
/*cart title*/
.custom-title-cart {
    white-space: nowrap;
    width: 250px !important;
    /* height: 100px !important; */
    max-width: 250px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*badge*/
.single-product img {
    margin-bottom: 0px !important;
}

.img-fluid {
    position: relative;
}

.bagde-sale {
    position: absolute;
    top: 0px;
    width: 150px;
    height: 40px;
    background: #FF512F;
    background: -webkit-linear-gradient(to left, #DD2476, #FF512F);
    background: linear-gradient(to left, #DD2476, #FF512F);
    border-radius: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-txt {
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
}

/*exclusive sale off index*/
.exclusive-deal-txt h1 {
    font-weight: 900;
    letter-spacing: 5px;
}

.exclusive-deal-area .time {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .exclusive-deal-area .time .time-colon {
        display: flex;
        align-items: center;
    }

        .exclusive-deal-area .time .time-colon .time-text {
            border-radius: 8px;
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            background: rgb(248,240,227);
        }

            .exclusive-deal-area .time .time-colon .time-text .num {
                font-size: 32px;
                font-weight: bold;
            }

            .exclusive-deal-area .time .time-colon .time-text .text {
                margin-top: 0.5rem;
                font-size: 18px;
                letter-spacing: 2px;
            }

        .exclusive-deal-area .time .time-colon .colon {
            padding: 0 0.5rem;
            font-size: 36px;
            font-weight: bolder;
        }