.header_area .main_menu .main_box{
    border-radius: 6px;
}

.nav-info-active {
    color: #567ee0 !important;
}

.select-custom-home .list{
    width: 100% !important;
}

.login_form_inner .changepass_form {
    width: 80% !important;
    max-width: 80% !important;
}

.lattest-product-area .single-product .badge-products {
    top: 30px !important;
}

/*pagination*/

.dropdown-menu.show{
    border-radius: 8px !important;
}
/*loader*/

#preloader {
    overflow: hidden;
    background: #f33f3f;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

    #preloader .jumper {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: absolute;
        margin: auto;
        width: 50px;
        height: 50px;
    }

        #preloader .jumper > div {
            background-color: #fff;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            position: absolute;
            opacity: 0;
            width: 50px;
            height: 50px;
            -webkit-animation: jumper 1s 0s linear infinite;
            animation: jumper 1s 0s linear infinite;
        }

            #preloader .jumper > div:nth-child(2) {
                -webkit-animation-delay: 0.33333s;
                animation-delay: 0.33333s;
            }

            #preloader .jumper > div:nth-child(3) {
                -webkit-animation-delay: 0.66666s;
                animation-delay: 0.66666s;
            }

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.search_input{
    border-radius: 6px;
}

/* num cart */

.bx-shopping-bag {
    position: relative;
}

.num-cart-product {
    position: absolute;
    top: 17px;
    right: -17px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #576ee0;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*search*/
.search-text .btn-search {
    cursor: pointer;
    font-size: 36px;
    color: #fff;
}

/*   */
.modal-body {
/*            margin-top: 1.2rem;*/
    background-color: #fff;
    border-radius: 18px;
}

.navbar-right li:first-child {
    display: flex;
    align-items: center;
}

/*   */
.img-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img-non-user {
    width: 50px;
    height: 50px;
}

.iframe-chatbox {
    display: none;
}

/*modal fade*/
.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

    .fade-scale.show {
        opacity: 1;
        transform: scale(1);
    }

.fade-scale-right {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
 /*   transform: translate(20rem, 0);*/
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

    .fade-scale-right.show {
        opacity: 1;
        transform: translate3d(0, 0, 0);
       /* transform: translate(0px, 0px);*/
    }

    /*scrollbar*/
/*html {
    -ms-overflow-style: scrollbar;
}*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(253, 253, 253, 0.4);
    }