.btn-share {
    height: 10%;
    width: 10%;
    border: none;
    background: transparent;
}

    .btn-share i {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin-right: 10px;
        border: none;
        background: #fff;
        border-radius: 6px;
        cursor: pointer;
        padding: 6px;
        font-size: 26px;
        color: #999999;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }

        .btn-share i:hover {
            background: #576ee0;
            color: #fff;
        }

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

/*    menu hover*/
.line-effect {
    width: 0;
    height: 2.5px;
    background-color: #576ee0;
    position: fixed;
    pointer-events: none;
    z-index: 99;
    transition: all 0.25s linear;
}